header{
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;
}

header ul{
  float: right;
  padding-top: 25px;
}

.nav li{
  text-transform: uppercase;
  display: inline;
  margin-left: 0;
  margin-right: 10px;
}

.nav img{
  width: 14px;
  height: 14px;
}

.nav li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

.nav li a:hover, .selected{
  color: black;
}

header h1{
  float: left;
  text-indent: -9999px;
  background-image: url("../img/logo.jpg");
  border-right: 2px solid black;
  background-repeat: no-repeat;
  width: 244px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-right: 20px;
}

.variation{
  margin-top: 100px;
  background-color: #A4A4A4;
  height: 100px;
}

.variation .grid_4{
  float: left;
  margin-top: 25px;
}

.variation .grid_4 h1{
  font-size: 25px;
  padding-left: 15px;
  color: white;
}

.variation .grid_4 .emphasis{
  font-size: 30px;
  color: white;
}

.variation .grid_8{
  float: right;
  text-align: right;
  margin-top: 35px;
}

.variation .grid_8 li{
  display: inline;
}

.variation .grid_8 li a{
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 15px;
}

.variation .grid_8 li a:hover, .variation .grid_8 li a.selected{
  background-color: #000000;
  color: white;
}
.portfolio_head{
  background-color: #EFFBF8;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.portfolio_head li{
  display: inline;
}

.portfolio_head li a{
  text-decoration: none;
}

.portfolio_head .grid_4{
  float: right;
    font-size: 14px;
    text-align: right;
    margin-top: 22px;
    overflow: hidden;
}

.portfolio_head h1, .portfolio_head p{
    padding-left: 15px;
}

.portfolio_head h1{
  font-size: 30px;
  margin-bottom: 0px;
}

.portfolio_head p{
  font-size: 18px;
}

.portfolio_head .grid_8{
  float: left;
  overflow: hidden;
}

.portfolio_head .grid_4 li{
  margin-left: 0;
}

.portfolio_head .selected{
  color: grey;
  padding-right: 15px;
}

.main img{
  width: 300px;
  height: 200px;
}

/*.main div.img{
  width: 300px;
  height: 280px;
}*/

.main h1{
  margin-bottom: 0px;
}

.main div p{
  margin-bottom: 20px;
}

.footer{
  background-color: black !important;
  color: white;
  margin-top: 20px;
}

.footer h4 {
  font-size: 18px;
}

.footer li{
  margin: 0;
}

.footer a{
  text-decoration: none;
  color: grey;
}

.footer a:hover{
  color: red;
}

.footer .starwebs{
  padding-left: 20px;
  width: 200px;
}

.footer .like ul{
  list-style: none;
}

.footer .like{
  list-style: none;
}

.footer .like ul li{
  display: inline;
}

.footer .like img{
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 5px;
}
